:root {
    font-size: 16px
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body ::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: rgb(0, 247, 255);
}

div {
    /* float: left;
    clear: left;  */
    display: inline-block;
    font-size: 25px;
}


/* .example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}

.example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

.example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
} */

#ordUt {
    border: black solid 5px;
    /* padding-top: 8%; */
    margin: auto;
    width: 60%;
    height: 40%;
    text-align: center;
    background-color: rgb(143, 143, 143);
    padding:20px;
}

#ordUt div {
    margin: 10px;
    font-size: 40px;
    /* height: 80px;
    width: 90px; */
    /* background-color: green; */
    padding: 1px 10px;

}

#ordUt div:hover {
    /* outline: rgb(197, 131, 131) 1px solid; */
    /* padding: 4px; */
    /* border-radius: 10px; */
    /* font-size: 70px; */
    opacity: 0.5;
}


/* #historie {
    display: inline;
} */

.valgt {
    /* outline: rgb(61, 57, 57) outset 5px; */
    border-radius: 10px;
    background-color: rgba(77, 83, 90, 0.438);
    box-shadow: 0px 2px 3px 1px #000000;
    text-shadow: dimgrey;
}

#app {
    margin: 50px;
    /* text-align: center; */
}

section {
    margin: 70px;
    /* padding: 20px; */
    line-height: 70px;
}